In [1]:
import pandas as pd

### Basic example: Error Type 1

In [2]:
df = pd.read_excel(
    '../Data/TidyData.xlsx',
    sheet_name='Bad_Example1'
)

In [3]:
df

     Unnamed: 0  treatmenta  treatmentb
0    John Smith         NaN           2
1      Jane Doe        16.0          11
2  Mary Johnson         3.0           1

In [4]:
df = df.rename(columns={'Unnamed: 0': 'names'})
value_columns=['treatmenta', 'treatmentb']
### Now melt

### Basic example: Error Type 2

In [5]:
df = pd.read_excel('../Data/TidyData_ErrorType_Two.xlsx')

In [10]:
### Now pivot