### Preprocessing

In [16]:
from recordlinkage.standardise import clean
import pandas as pd

df = pd.read_csv('../Data/names_adress.csv')

# Default Cleaning
df["name_clean_default"] = clean(df["name"])

# Clean the `occupation` column, but keep brackets and their contents.
df["occupation_clean"]= clean(df["occupation"],
                              replace_by_none='[^ \\-\\_A-Za-z0-9]+',
                              remove_brackets=False)

In [17]:
df

,name,phone_number,occupation,address,name_clean_default,occupation_clean
0,1. Rachel Green,1(613)555 0149,buyer (fashion),"90 Bedford Street, Apt 20",1 rachel green,buyer fashion
1,2. Ross Geller,+1-613-555-0138,paleontogist,"100 Grove Street, Apartment 16",2 ross geller,paleontogist
2,3. Mönica Geller,16135550185,Chef,"90 Bedford Street, Apt 20",3 mnica geller,chef
3,4. Chandler BING,1 613 555 0161,???,"90 Bedford Street, Apt 19",4 chandler bing,
4,5. Pheobe Buffay,1(613)5550114,musician,"5 Morton Street, Apt. 14",5 pheobe buffay,musician
5,6. Joseph (Joey) Tribbiani,1(613)555-0148,actor,"90 Bedford Street, Apt 19",6 joseph tribbiani,actor

### Indexing

In [10]:
import pandas as pd
from recordlinkage import index

# Name data for indexing
names_1 = ['alfred', 'bob', 'calvin', 'hobbes', 'rusty']
names_2 = ['alfred', 'danny', 'callum', 'hobie', 'rusty']

# Convert to DataFrames
df_a = pd.DataFrame({'names': names_1})
df_b = pd.DataFrame({'names': names_2})